############################
# ====== BACKEND (.NET) ======
############################

backend/bin/
backend/obj/
backend/*.user
backend/*.suo
backend/*.cache
backend/*.db
backend/*.pdb

############################
# ====== FRONTEND (Angular) ======
############################

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/

############################
# ====== VISUAL STUDIO ======
############################

.vs/
*.user
*.suo

############################
# ====== VS CODE ======
############################

.vscode/

############################
# ====== LOG FILES ======
############################

*.log

############################
# ====== OS FILES ======
############################

.DS_Store
Thumbs.db