<p>login works!</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input 
    type="text" 
    name="email" 
    formControlName="email" 
    placeholder="Email">
    <div 
    *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
    Email non valida
  </div>
    <input 
    type="password" 
    name="password" 
    formControlName="password" 
    placeholder="Password">
    <div 
    *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
    Password obbligatoria
  </div>
    <button 
    type="submit">
    Login
</button>

</form>